@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&display=swap');

 
:root{
    --primary-color: #9FC5D6;
    --secondary-color: #536770;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'lato' sans-serif;
    line-height: 25px;
}

/*START OF SECTION ONE*/
 nav ul{
     list-style-type: none;
 }
  
 a{  font-family: Georgia, 'Times New Roman', Times, serif;
     text-decoration: none;
     color:white;
 }
li a:hover{
     border-bottom:4px blue solid;
     border-top: 4px blue solid;
 }
 .navbar{
     background-color: var(--secondary-color);
     height: 70px;
     overflow: visible;

 }
 .container1{
     max-width:1100px;
     margin:0 auto;
 }
 .navba {
     display: flex;
     justify-content:space-between;
     height: 100%;
 }
 .navigation ul{
     display: flex;
     justify-content: space-around;
     padding-top: 10px;
}
.navigation ul li{
    padding: 18px;
    margin:0 5px;
}
.navigation{
    margin-right: -100px;
    font-size: 1.2rem;
}
.logo{
    padding-top:5px;
    margin-left:-70px;
    overflow: auto;
}
/*END OF SECTION ONE*/

/*start of sec-2*/
.container2{
    display: flex;
}
.sec-2{
    background-color: #DDECF2;
    width: 100%;
    height: 70%;
    overflow: visible;
}
.img{
    overflow: -moz-hidden-unscrollable;
    display: flex;
    position: relative;
    right: 10px;
    position:-webkit-sticky;
} 

.content{
    width:55%;
    padding:200px;
    line-height: 1.5;
    
}
#content{
    background-color:var(--primary-color);
    padding: 20px;
    position :relative;
    right:-150px;
    top:150px;
    font-size: 1.3rem;
    width: auto;
    font-family: 'lato' sans-serif;
}
.myname{
    background-color: var(--primary-color);
    text-align: center;
    position: relative;
    top: 120px;
    right: -70px;
    font-size:1.7rem;
}

/*END OF SECTION TWO*/

/*FOOTER*/
footer{
    background-color: var(--secondary-color);
    height: 35%;
}

 .footer-icons ul li {
      display: inline;
      margin:5px;
      padding:0 30px ;
}
.footer-icons{
    /*position: relative;
    left:650px;
    padding: 5px;*/
    text-align: center;
    color:#fff;
    padding: 20px;
}
#footer{
    font-size: 1.4rem;
    text-align: center;
    

}
