@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&display=swap');

 
:root{
    --primary-color: #DDECF2;
    --secondary-color: #536770;
    --bg-color:  #9FC5D6 ;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
   /* border: 3px lawngreen dashed;*/
}

body{
    font-family: 'lato' sans-serif;
    line-height: 25px;
}

/*START OF SECTION ONE*/
 nav ul{
     list-style-type: none;
 }
  
 a{  font-family: Georgia, 'Times New Roman', Times, serif;
     text-decoration: none;
     color:white;
 }
li a:hover{
     border-bottom:4px blue solid;
     border-top: 4px blue solid;
    
 }
 .navlink:hover{
     transform: scale(3);

 }
 .navbar{
     background-color: #536770;
     height: 70px;
     overflow: visible;

 }
 .container1{
     max-width:1100px;
     margin:0 auto;
 }
 .navba {
     display: flex;
     justify-content:space-between;
     height: 100%;
 }
 .navigation ul{
     display: flex;
     justify-content: space-around;
     padding-top: 10px;
}
.navigation ul li{
    padding: 18px;
    margin:0 5px;
}
.navigation{
    margin-right: -100px;
    font-size: 1.5rem;
}
.logo{
    padding-top:5px;
    margin-left:-70px;
    overflow: auto;
}
/*END OF SECTION ONE*/

/*start of sec-2*/
.container2{
    display: flex;
}
.sec-2{
    width: 100%;
    height: 70%;
    overflow: visible;
}
.img{
    
    display: flex;
    position: relative;
    right: -250px;
    top:18px;
    background-color:rgb(219, 211, 211);
    border-radius: 50%;
    box-shadow: 10px 10px 5px rgba(219, 211, 211,0.7);
    border:4px #fff;
    
} 

.content{
    width:35%;
    padding:40px;
    line-height: 1.5;
    
}
#content{
    background-color:#333;
    padding: 20px;
    position :relative;
    right:-150px;
    top:50px;
    font-size: 1.7rem;
    width: auto;
    font-family: 'lato' sans-serif;
    box-shadow: 10px 10px 5px rgba(219, 211, 211,0.7);
    border:10px #fff;
    border-radius: 4%;
    color:#fff;
}
.myname{
    padding: 10px;
    background-color:#333;
    text-align: center;
    position: relative;
    top: 50px;
    right: -70px;
    font-size:30px;
    border-radius: 2px;
    color: #fff;
    box-shadow: 10px 10px 5px rgba(219, 211, 211,0.7);
    border:2px #fff;
    border-radius: 4%;
}

/*END OF SECTION TWO*/

/*FOOTER*/
footer{
    background-color: var(--secondary-color);
    height: 35%;
    padding:20px;
    margin:0;
}

 .footer-icons ul li {
      display: inline;
      margin:5px;
      padding:0 30px ;
}
.footer-icons{
    /*position: relative;
    left:650px;
    padding: 5px;*/
    text-align: center;
    color:#fff;
    padding: 20px;
}
#footer{
    font-size: 1.4rem;
    text-align: center;
    

}

/*styling about */
.sec-2-about{
    background-image:url(./assets/tech.4.jpg);
    height: 100vh;
    opacity: 0.9;
    background-size: cover;
    background-repeat: no-repeat;
   
}
.about{
    margin: 10px;
    background-color: #333;
    padding: 30px;
    width: 55%;
    height: 90%;
    position: absolute;
    top: 15%;
    left: 20%;
    transform:translate(50% 50%);
    font-size: 1.5rem;
    font-family: 'lato' sans-serif;
    line-height: 2.5rem;
    color: #fff;
    box-shadow: 10px 10px 5px rgba(219, 211, 211,0.7);
    border:2px #fff;
    border-radius: 4%;
    

}

/*end of styling sec about*/

/*styling skillset */
    

.graph{
    position:absolute;
    width:40%;
    top:20%; 
   transform:translate(70%,30%);
   padding:20px;
   background-color: #333;
   box-sizing: border-box;
   box-shadow: 10px 10px 5px rgba(219, 211, 211,0.7);
   border:2px #fff;
   border-radius: 4%;
   

}
.skillbox p{
    text-transform:uppercase;
    font-weight: 700;
    color:#fff;
    margin:0 0 10px;
    letter-spacing: 1px;
    padding: 0;

}
.skillbox p:nth-child(2){
    float:right;
    position:relative;
    top:-25px;
}
.skill{
    box-sizing: border-box;
    padding: 5px;
    background-color: #262626;
    border:1px solid var(--bg-color);
    border-radius: 3px;
    margin: 0 0 10px 0;
}
.skill-level{
    background-color:var(--bg-color);
    height:10px;
    width: 100%;
}
.graph h1{
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 700;
    text-indent: 2px;
    text-align: center;
    color:#fff;
}

/*.img3{
    overflow: -moz-hidden-unscrollable;
    display: flex;
    position: relative;
    left: 1000px;
    position:-webkit-sticky;
}*/

#graph{
    background-color: var(--bg-color);
}
.sec-2-skill{
    background-image: url(/assets/tech.4.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.9;

}

/*end of styling skillset */

/*start of styling contact */
.contact-elements{
    display: grid;
    grid-template-columns:2fr 3fr;
    background-color:#333 ;
    gap:30px;
    padding:10px;
    height: 350px;
    position:absolute;
    width:55%;
    top:20%;
   transform:translate(40%,40%);
    justify-content: center;
    align-items: center;
    color: #fff;
    box-shadow: 10px 10px 5px rgba(219, 211, 211,0.7);
    border:2px #fff;
    border-radius: 4%;
    
}
form{
    width:400px;
    height: 280px;
    border-radius: 20px;
    padding: 10px;
   font-size: 1.5rem;
    background-color: #fff;
    box-shadow:5px 5px 5px var(--bg-color);
    border: 10px black;
    position: relative;
    left:50px;
}
.details{
    height: 250px;
    width:350px;
    line-height: 3rem;
    font-size: 1.5rem;
    padding:20px;
}
/*.img-contact{
    position:relative;
    left:300px;
}*/

.sec-2-contact{
 background-image: url(/assets/tech.4.jpg);
 background-repeat: no-repeat;
 background-size: cover;
 height: 100vh;
 opacity: 0.9;
}
.form{
    margin:20px 10px;
    justify-content: center;
    text-align: center;
}
.form input[type="text"]{
border:0;
border-bottom:2px solid grey;
width: 100%;
height: 100%;
padding:2px;
font-size: 20px;
}

.form input:focus{
    outline: none;
    font-size: 25px;
}
.btn{
    display:inline-block;
    padding:5px 10px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    background-color: var(--secondary-color);
    color: #fff;
    font-size:1.3rem;
}
.btn-primary:hover{
    transform:scale(0.85);
}
/*end of style*/


/*start of styling project*/
.project{
    padding: 80px;
    margin:15px; 
    height:580px;
    width: 400px;
    background-color: #333;
     align-content: center;
     box-shadow: 10px 10px 5px rgba(219, 211, 211,0.7);
     border:2px #fff;
     border-radius: 4%;
}
#pic1{
    position: relative;
    left:-30px;
}

.desc{

    color: #fff;
    position: relative;
    left:-50px;
    padding: 20px 0;

}
/*.img5{
    overflow: -moz-hidden-unscrollable;
    display: flex;
    position: relative;
    top:150px;
    right: 20px;
    position:-webkit-sticky;}*/

.projo{
    height:90%;
    
    position: absolute;
    transform: translate(0% 20%);
    top: 18%;
    left: 10%;
    display: flex;
    align-content: center;
    justify-content:center;

}
.sec-2-project{
    background-image:url(/assets/tech.4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.9;
    height: 100vh;
}

.desc p{
    font-size: 1.2rem;
    line-height: 1.5rem;
}
button{
    padding: 10px;
    background-color: darkslategray;
    font-size: 1rem;
    margin: 5px;
    border-radius: 30%;
    border:none;
}
button:hover{
    transform:scale(0.85);
}
.container2 h3{
    font-size: 2rem;
   position: relative;
    left:800px;
    top: 20px;
    text-decoration:underline;
    color: #fff;
  
}
.container2 h2{
    text-decoration:underline;
    font-size: 2rem;
    text-align: center;
}