@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&display=swap');

 
:root{
    --primary-color: #DDECF2;
    --secondary-color: #536770;
    --bg-color:  #9FC5D6 ;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'lato' sans-serif;
    line-height: 25px;
}

/*START OF SECTION ONE*/
 nav ul{
     list-style-type: none;
 }
  
 a{  font-family: Georgia, 'Times New Roman', Times, serif;
     text-decoration: none;
     color:white;
 }
li a:hover{
     border-bottom:4px blue solid;
     border-top: 4px blue solid;
    
 }
 .navlink:hover{
     transform: scale(3);

 }
 .navbar{
     background-color: var(--secondary-color);
     height: 70px;
     overflow: visible;

 }
 .container1{
     max-width:1100px;
     margin:0 auto;
 }
 .navba {
     display: flex;
     justify-content:space-between;
     height: 100%;
 }
 .navigation ul{
     display: flex;
     justify-content: space-around;
     padding-top: 10px;
}
.navigation ul li{
    padding: 18px;
    margin:0 5px;
}
.navigation{
    margin-right: -100px;
    font-size: 1.5rem;
}
.logo{
    padding-top:5px;
    margin-left:-70px;
    overflow: auto;
}
/*END OF SECTION ONE*/

/*start of sec-2*/
.container2{
    display: flex;
}
.sec-2{
    background-color: #DDECF2;
    width: 100%;
    height: 70%;
    overflow: visible;
}
.img{
    overflow: -moz-hidden-unscrollable;
    display: flex;
    position: relative;
    right: 10px;
    position:-webkit-sticky;
} 

.content{
    width:55%;
    padding:200px;
    line-height: 1.5;
    
}
#content{
    background-color:var(--primary-color);
    padding: 20px;
    position :relative;
    right:-150px;
    top:150px;
    font-size: 1.7rem;
    width: auto;
    font-family: 'lato' sans-serif;
}
.myname{
    background-color: var(--primary-color);
    text-align: center;
    position: relative;
    top: 120px;
    right: -70px;
    font-size:1.9rem;
    width: 50%;
}

/*END OF SECTION TWO*/

/*FOOTER*/
footer{
    background-color: var(--secondary-color);
    height: 35%;
    padding:20px;
    margin:0;
}

 .footer-icons ul li {
      display: inline;
      margin:5px;
      padding:0 30px ;
}
.footer-icons{
    /*position: relative;
    left:650px;
    padding: 5px;*/
    text-align: center;
    color:#fff;
    padding: 20px;
}
#footer{
    font-size: 1.4rem;
    text-align: center;
    

}

/*styling about */
.sec-2-about{
    background-color: var(--bg-color);
}
.about{
    background-color: var(--primary-color);
    padding: 80px;
    width: 55%;
    height: 50%;
    position: relative;
    top: 90px;
    left:20px;
    font-size: 1.5rem;
    font-family: 'lato' sans-serif;
    line-height: 2.5rem;
}
.img2{
    overflow: -moz-hidden-unscrollable;
    display: flex;
    position: relative;
    right: -20px;
    position:-webkit-sticky;
}
/*end of styling sec about*/

/*styling skillset */
    

.graph{
    position:absolute;
    width:40%;
    top:50%;
    left:20%;
   transform:translate(-20%,-20%);
   padding:20px;
   background-color: #333;
   box-sizing: border-box;
   

}
.skillbox p{
    text-transform:uppercase;
    font-weight: 700;
    color:#fff;
    margin:0 0 10px;
    letter-spacing: 1px;
    padding: 0;

}
.skillbox p:nth-child(2){
    float:right;
    position:relative;
    top:-25px;
}
.skill{
    box-sizing: border-box;
    padding: 5px;
    background-color: #262626;
    border:1px solid var(--bg-color);
    border-radius: 3px;
    margin: 0 0 10px 0;
}
.skill-level{
    background-color:var(--bg-color);
    height:10px;
    width: 100%;
}
.graph h1{
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 700;
    text-indent: 2px;
    text-align: center;
    color:#fff;
}

.img3{
    overflow: -moz-hidden-unscrollable;
    display: flex;
    position: relative;
    left: 1000px;
    position:-webkit-sticky;
}

#graph{
    background-color: var(--bg-color);
}
.sec-2-skill{
    background-color: var(--bg-color);
}

/*end of styling skillset */

/*start of styling contact */
.contact-elements{
    display: grid;
    grid-template-columns:2fr 3fr;
    background-color: var(--primary-color);
    gap:30px;
    padding:5px 10px;
    height: 350px;
    position: relative;
    left: 200px;
    top: 200px;
    justify-content: center;
    align-items: center;

    
}
form{
    width:480px;
    height: 280px;
    border-radius: 20px;
    padding: 20px;
   font-size: 1.5rem;
    background-color: #fff;
    box-shadow:5px 5px rgba(0,0,0,0.3),-5px -5px rgba(0,0,0,0.3);
}
.details{
    height: 150px;
    line-height: 3rem;
    font-size: 1.5rem;
    padding: 0 20px;
}
.img-contact{
    position:relative;
    left:300px;
}
.sec-2-contact{
    background-color: var(--bg-color);
}
.form{
    margin:20px 0;
    justify-content: center;
    text-align: center;
}
.form input[type="text"]{
border:0;
border-bottom:2px solid grey;
width: 100%;
height: 100%;
padding:2px;
font-size: 20px;
}

.form input:focus{
    outline: none;
    font-size: 25px;
}
.btn{
    display:inline-block;
    padding:5px 10px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    background-color: var(--secondary-color);
    color: #fff;
    font-size:1.3rem;
}
.btn-primary:hover{
    transform:scale(0.85);
}
/*end of style*/


/*end of style*/
.project{
    display: flex;
    position: relative;
    left: 50px;
    padding: 20px;
}
.desc{
    width: 45%;
    height: 50%;
    text-align: center;
    justify-content: center;
    padding: 50px;
    position: relative;
    left:100px;
}
.desc:nth-child(2){
    width: 35%;
    
}
.img5{
    overflow: -moz-hidden-unscrollable;
    display: flex;
    position: relative;
    top:150px;
    right: 20px;
    position:-webkit-sticky;
}
.projo{
    background-color: var(--primary-color);
    margin-right: 700px;
    margin: 40px;
}
#pic1{
    position: relative;
    top:50px;
    left:100px;
    transition:30s;

}
.sec-2-project{
    background-color: var(--bg-color);
}